In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('AviationData.csv')

In [6]:
pd.DataFrame(df)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,24/10/1948,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,19/07/1962,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19/09/1996
2,20061025X01555,Accident,NYC07LA005,30/08/1974,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26/02/2007
3,20001218X45448,Accident,LAX96LA321,19/06/1977,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12/09/2000
4,20041105X01764,Accident,CHI79FA064,02/08/1979,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16/04/1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16378,20001213X35106,Accident,ATL87MA028,25/11/1986,"CINCINNATI, OH",United States,NaN,NaN,LUK,LUNKEN FIELD,...,Aerial Observation,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12/02/1988
16379,20001213X35092,Incident,ATL87IA027,25/11/1986,"LOUISVILLE, KY",United States,NaN,NaN,SDF,STANDIFORD,...,Unknown,Jet Stream Int'l,0.0,0.0,0.0,12.0,VMC,Taxi,Probable Cause,NaN
16380,20001213X35284,Accident,SEA87LA033,25/11/1986,"WAITSBURG, WA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,2.0,0.0,VMC,Maneuvering,Probable Cause,10/03/1988
16381,20001213X35247,Accident,MKC87LA023,25/11/1986,"COLBY, KS",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,Cruise,Probable Cause,NaN
16382,20001213X35202,Accident,LAX87LA050,25/11/1986,"HALF MOON BAY, CA",United States,NaN,NaN,HAF,HALF MOON BAY,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Landing,Probable Cause,10/03/1988

In [7]:
df.shape

(16383, 31)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16383 entries, 0 to 16382
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                16383 non-null  object
 1   Investigation.Type      16383 non-null  object
 2   Accident.Number         16383 non-null  object
 3   Event.Date              16383 non-null  object
 4   Location                16378 non-null  object
 5   Country                 16314 non-null  object
 6   Latitude                5 non-null      float64
 7   Longitude               5 non-null      float64
 8   Airport.Code            8345 non-null   object
 9   Airport.Name            9828 non-null   object
 10  Injury.Severity         16383 non-null  object
 11  Aircraft.damage         16057 non-null  object
 12  Aircraft.Category       3601 non-null   object
 13  Registration.Number     16383 non-null  object
 14  Make                    16377 non-null  object
 15  Model                   16367 non-null  object
 16  Amateur.Built           16382 non-null  object
 17  Number.of.Engines       16188 non-null  float64
 18  Engine.Type             16381 non-null  object
 19  FAR.Description         3601 non-null   object
 20  Schedule                2701 non-null   object
 21  Purpose.of.flight       16365 non-null  object
 22  Air.carrier             755 non-null    object
 23  Total.Fatal.Injuries    16313 non-null  float64
 24  Total.Serious.Injuries  16297 non-null  float64
 25  Total.Minor.Injuries    16288 non-null  float64
 26  Total.Uninjured         16332 non-null  float64
 27  Weather.Condition       16381 non-null  object
 28  Broad.phase.of.flight   16357 non-null  object
 29  Report.Status           16383 non-null  object
 30  Publication.Date        4075 non-null   object
dtypes: float64(7), object(24)
memory usage: 3.9+ MB

In [10]:
df.duplicated().sum()

0

In [11]:
df.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      5
Country                      69
Latitude                  16378
Longitude                 16378
Airport.Code               8038
Airport.Name               6555
Injury.Severity               0
Aircraft.damage             326
Aircraft.Category         12782
Registration.Number           0
Make                          6
Model                        16
Amateur.Built                 1
Number.of.Engines           195
Engine.Type                   2
FAR.Description           12782
Schedule                  13682
Purpose.of.flight            18
Air.carrier               15628
Total.Fatal.Injuries         70
Total.Serious.Injuries       86
Total.Minor.Injuries         95
Total.Uninjured              51
Weather.Condition             2
Broad.phase.of.flight        26
Report.Status                 0
Publication.Date          12308
dtype: int64

In [12]:
df['Location']

0          MOOSE CREEK, ID
1           BRIDGEPORT, CA
2            Saltville, VA
3               EUREKA, CA
4               Canton, OH
               ...
16378       CINCINNATI, OH
16379       LOUISVILLE, KY
16380        WAITSBURG, WA
16381            COLBY, KS
16382    HALF MOON BAY, CA
Name: Location, Length: 16383, dtype: object

In [13]:
df.dropna(subset=['Location'], inplace=True)

In [45]:
df.isnull().sum()/100

Event.Id                    0.00
Investigation.Type          0.00
Accident.Number             0.00
Event.Date                  0.00
Location                    0.00
Country                     0.00
Latitude                    0.00
Longitude                   0.00
Airport.Code                0.00
Airport.Name                0.00
Injury.Severity             0.00
Aircraft.damage             0.00
Aircraft.Category           0.00
Registration.Number         0.00
Make                        0.00
Model                       0.00
Amateur.Built               0.00
Number.of.Engines           0.00
Engine.Type                 0.02
FAR.Description           127.75
Schedule                  136.58
Purpose.of.flight           0.18
Air.carrier               156.02
Total.Fatal.Injuries        0.70
Total.Serious.Injuries      0.86
Total.Minor.Injuries        0.95
Total.Uninjured             0.51
Weather.Condition           0.02
Broad.phase.of.flight       0.25
Report.Status               0.00
Publication.Date          123.02
dtype: float64

In [15]:
df_cleaned_country = df['Country'].ffill(inplace = True)

In [20]:
latitude_data = df['Latitude']
mode_value = latitude_data.mode().iloc[0]
latitude_data_filled = latitude_data.fillna(mode_value)
df['Latitude'] = latitude_data_filled

In [21]:
longitude= df['Longitude']
mode = longitude.mode().iloc[0]
longitude_filled = longitude.fillna(mode)
df['Longitude'] = longitude_filled

In [24]:
code = df['Airport.Code']
mode = code.mode().iloc[0]
filled = code.fillna(mode)
df['Airport.Code'] = filled

In [25]:
df['Airport.Name'].iloc[0:999]

0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
             ...
994            LAKEVIEW
995    FAIRFIELD COUNTY
996    DELAND MUNICIPAL
997                 NaN
998    WILLIAM P. HOBBY
Name: Airport.Name, Length: 999, dtype: object

In [26]:
name_cleaned = df['Airport.Name'].fillna('Unknown', inplace=True)

In [28]:
df['Injury.Severity']
cleaned = df.dropna(subset=['Injury.Severity'], inplace=True)

In [30]:
df['Aircraft.damage'].iloc[0:999]

0        Destroyed
1        Destroyed
2        Destroyed
3        Destroyed
4        Destroyed
          ...
994    Substantial
995    Substantial
996    Substantial
997    Substantial
998      Destroyed
Name: Aircraft.damage, Length: 999, dtype: object

In [31]:
data = df['Aircraft.damage']
cleaned = data.mode().iloc[0]
data.fillna(cleaned, inplace = True)

In [32]:
df['Aircraft.Category']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
16378    NaN
16379    NaN
16380    NaN
16381    NaN
16382    NaN
Name: Aircraft.Category, Length: 16378, dtype: object

In [33]:
categ = df['Aircraft.Category']
data = categ.mode().iloc[0]
categ.fillna(data, inplace = True)

In [34]:
Registration = df['Registration.Number']
print(Registration)

0        NC6404
1        N5069P
2        N5142R
3        N1168J
4         N15NY
          ...
16378    N59610
16379    N823JS
16380    N6849H
16381    N60046
16382     N76EV
Name: Registration.Number, Length: 16378, dtype: object

In [35]:
cleaned = df.dropna(subset=['Registration.Number'], inplace=True)

In [37]:
Make = df['Make']
print(Make)

0                  Stinson
1                    Piper
2                   Cessna
3                 Rockwell
4                   Cessna
               ...
16378                 Bell
16379    British Aerospace
16380                Piper
16381               Cessna
16382                Piper
Name: Make, Length: 16378, dtype: object

In [38]:
cleaned = df.dropna(subset=['Make'], inplace=True)

In [39]:
Model = df['Model']
print(Model)

0            108-3
1         PA24-180
2             172M
3              112
4              501
           ...
16378         206B
16379        BA-31
16380          J-3
16381         150J
16382    PA-18-150
Name: Model, Length: 16372, dtype: object

In [40]:
cleaned = df.dropna(subset=['Model'], inplace=True)

In [41]:
df['Amateur.Built']

0        No
1        No
2        No
3        No
4        No
         ..
16378    No
16379    No
16380    No
16381    No
16382    No
Name: Amateur.Built, Length: 16356, dtype: object

In [42]:
data = df['Amateur.Built']
cleaned = data.mode().iloc[0]
data.fillna(cleaned, inplace = True)

In [43]:
df['Number.of.Engines']

0        1.0
1        1.0
2        1.0
3        1.0
4        NaN
        ...
16378    1.0
16379    2.0
16380    1.0
16381    1.0
16382    1.0
Name: Number.of.Engines, Length: 16356, dtype: float64

In [44]:
engines = df['Number.of.Engines']
cleaned_eng = df['Number.of.Engines'].mean()
engines.fillna(cleaned_eng, inplace = True)

In [46]:
name_cleaned = df['Engine.Type'].fillna('Unknown', inplace=True)

In [47]:
far = df['FAR.Description']
print(far)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
16378    NaN
16379    NaN
16380    NaN
16381    NaN
16382    NaN
Name: FAR.Description, Length: 16356, dtype: object

In [48]:
df.dropna(subset=['FAR.Description'], inplace=True)

In [49]:
df['Schedule'].iloc[0:1000]

5       SCHD
7        NaN
8        NaN
12       NaN
13       NaN
        ...
1019     NaN
1020    NSCH
1021     NaN
1022    NSCH
1023     NaN
Name: Schedule, Length: 1000, dtype: object

In [50]:
name_cleaned = df['Schedule'].fillna('Unknown', inplace=True)

In [51]:
df['Purpose.of.flight']

5                    NaN
7               Personal
8               Business
12              Personal
13              Personal
              ...
14711          Skydiving
14712      Instructional
14805    Public Aircraft
14806            Unknown
16278           Personal
Name: Purpose.of.flight, Length: 3581, dtype: object

In [52]:
df.dropna(subset=['Purpose.of.flight'], inplace=True)

In [53]:
df['Air.carrier'].iloc[0:999]

7                        NaN
8                        NaN
12                       NaN
13                       NaN
14                       NaN
                ...
1020    Richard K. Armstrong
1021                     NaN
1022     Huntsville Aviation
1023                     NaN
1024                     NaN
Name: Air.carrier, Length: 999, dtype: object

In [54]:
df.dropna(subset=['Air.carrier'], inplace=True)

In [55]:
total = df['Total.Fatal.Injuries']
print(total)

22       0.0
33       2.0
39       2.0
43       0.0
44       0.0
        ...
3598     0.0
3599     0.0
7312     NaN
7708     NaN
10140    NaN
Name: Total.Fatal.Injuries, Length: 229, dtype: float64

In [56]:
cleaned  = total.mean()
total.fillna(cleaned, inplace = True)

In [57]:
serious = df['Total.Serious.Injuries']
print(serious)

22       0.0
33       0.0
39       0.0
43       0.0
44       2.0
        ...
3598     0.0
3599     0.0
7312     NaN
7708     NaN
10140    NaN
Name: Total.Serious.Injuries, Length: 229, dtype: float64

In [58]:
cleaned  = serious.mean()
serious.fillna(cleaned, inplace = True)

In [59]:
minor = df['Total.Minor.Injuries']
print(minor)

22       0.0
33       0.0
39       0.0
43       0.0
44       0.0
        ...
3598     1.0
3599     0.0
7312     NaN
7708     NaN
10140    NaN
Name: Total.Minor.Injuries, Length: 229, dtype: float64

In [61]:
cleaned  = minor.mean()
minor.fillna(cleaned, inplace = True)

In [62]:
df.dropna(subset=['Total.Uninjured'], inplace=True)

In [63]:
weather = df['Weather.Condition']
print(weather)

22       VMC
33       VMC
39       VMC
43       VMC
44       VMC
        ...
3598     VMC
3599     VMC
7312     VMC
7708     VMC
10140    IMC
Name: Weather.Condition, Length: 229, dtype: object

In [64]:
cleaned = weather.mode().iloc[0]
weather.fillna(cleaned, inplace= True)

In [65]:
df['Broad.phase.of.flight']

22       Approach
33         Cruise
39       Approach
43           Taxi
44        Takeoff
           ...
3598      Landing
3599      Takeoff
7312      Takeoff
7708      Landing
10140      Cruise
Name: Broad.phase.of.flight, Length: 229, dtype: object

In [66]:
df['Broad.phase.of.flight'].fillna('Unknown', inplace=True)

In [68]:
df['Report.Status']

22       Probable Cause
33       Probable Cause
39       Probable Cause
43       Probable Cause
44       Probable Cause
              ...
3598     Probable Cause
3599     Probable Cause
7312     Probable Cause
7708     Probable Cause
10140    Probable Cause
Name: Report.Status, Length: 229, dtype: object

In [69]:
df['Report.Status'].fillna('Unknown', inplace=True)

In [70]:
df.dropna(subset=['Publication.Date'], inplace=True)

In [71]:
df.isnull().sum()/100

Event.Id                  0.0
Investigation.Type        0.0
Accident.Number           0.0
Event.Date                0.0
Location                  0.0
Country                   0.0
Latitude                  0.0
Longitude                 0.0
Airport.Code              0.0
Airport.Name              0.0
Injury.Severity           0.0
Aircraft.damage           0.0
Aircraft.Category         0.0
Registration.Number       0.0
Make                      0.0
Model                     0.0
Amateur.Built             0.0
Number.of.Engines         0.0
Engine.Type               0.0
FAR.Description           0.0
Schedule                  0.0
Purpose.of.flight         0.0
Air.carrier               0.0
Total.Fatal.Injuries      0.0
Total.Serious.Injuries    0.0
Total.Minor.Injuries      0.0
Total.Uninjured           0.0
Weather.Condition         0.0
Broad.phase.of.flight     0.0
Report.Status             0.0
Publication.Date          0.0
dtype: float64

In [72]:
df.copy()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
22,20020917X01657,Accident,ATL82DA027,02/01/1982,"CHAMBLEE, GA",United States,30.757778,-120.849722,PDK,Unknown,...,Unknown,"Rocky Mountain Helicopters, In",0.000000,0.000000,0.000000,1.0,VMC,Approach,Probable Cause,02/01/1983
33,20020917X02254,Accident,LAX82FA038,04/01/1982,"NEAR LAS VEGAS, NV",United States,30.757778,-120.849722,MRI,Unknown,...,Unknown,Lang Air Service,2.000000,0.000000,0.000000,0.0,VMC,Cruise,Probable Cause,04/01/1983
39,20020917X01906,Accident,DCA82AA009,05/01/1982,"ITHACA, NY",United States,30.757778,-120.849722,MRI,TOMPKINS COUNTY,...,Unknown,Empire Airlines,2.000000,0.000000,0.000000,0.0,VMC,Approach,Probable Cause,05/01/1983
43,20020917X02156,Accident,LAX82DA037,05/01/1982,"SPRINGERVILLE, AZ",United States,30.757778,-120.849722,Q35,SPRINGERVILLE,...,Unknown,Joel Frederick's Monarch Air,0.000000,0.000000,0.000000,1.0,VMC,Taxi,Probable Cause,05/01/1983
44,20020917X01651,Accident,ANC82FA012,05/01/1982,"BETHEL, AK",United States,30.757778,-120.849722,BET,BETHEL,...,Unknown,Executive Charter Service,0.000000,2.000000,0.000000,0.0,VMC,Takeoff,Probable Cause,05/01/1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3598,20020917X04581,Accident,DEN83LA043,31/12/1982,"11MI. SO.OFTELL, CO",United States,30.757778,-120.849722,MRI,Unknown,...,Unknown,North American Helicopter Svc.,0.000000,0.000000,1.000000,4.0,VMC,Landing,Probable Cause,31/12/1983
3599,20020917X04248,Accident,ANC83LA038,31/12/1982,"NUNAPITCHUK, AK",United States,30.757778,-120.849722,98Z,NUNAPITCHUK,...,Unknown,Delaire Charter Service,0.000000,0.000000,0.000000,7.0,VMC,Takeoff,Probable Cause,31/12/1983
7312,20001214X38563,Accident,DEN84LA075,26/01/1984,"BUFFALO, WY",United States,30.757778,-120.849722,MRI,Unknown,...,Unknown,Soloy Heliops,0.417778,0.377778,0.377778,2.0,VMC,Takeoff,Probable Cause,05/06/2019
7708,20001214X38957,Accident,ATL84LA120,14/03/1984,"MYRTLE BEACH, SC",United States,30.757778,-120.849722,CRE,GRAND STRAND,...,Unknown,"Mountain Air Cargo, Inc.",0.417778,0.377778,0.377778,1.0,VMC,Landing,Probable Cause,24/09/2018
10140,20001214X41363,Incident,FTW85IA028,26/10/1984,"TULSA, OK",United States,30.757778,-120.849722,TUL,TULSA INTL',...,Unknown,Scheduled Skyways,0.417778,0.377778,0.377778,9.0,IMC,Cruise,Probable Cause,05/06/2019

In [8]:
df.to_csv('AviationData.csv')

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Convert 'Model' column to string type
data['Model'] = data['Model'].astype(str)

# Iterate through each injury type and create individual line graphs
injury_types = ['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']
for injury_type in injury_types:
    plt.figure(figsize=(12, 8))
    plt.plot(data['Model'], data[injury_type], marker='o', linestyle='-')
    plt.xlabel('Model')
    plt.ylabel('Number of ' + injury_type)
    plt.title('Line Graph of ' + injury_type + ' by Model')
    plt.xticks(rotation=45)
    plt.grid(True)
    
    # Save the plot as a JPG file
    plt.savefig('line_graph_' + injury_type + '_by_model.jpg', dpi=300, bbox_inches='tight')
    
    plt.show()